ul {
    position:absolute;
}
ul li {
    list-style-type: none;
}
ul.menu li {
    float:left;
    font-weight:bold;
    background : green;
}
ul.submenu li {
    float:none;
    font-weight:normal;
    background : silver;
}
ul {
    padding:0px;
    margin:0px;
}
ul li a {
    color:black;
    padding:5px;
    text-decoration: none;
    width:100px;
    display:inline-block;
}
